<div class="row">
	<div class="col-sm-12">
		<form role="form" name="userEditForm" novalidate>
			<div class="form-group">
				<div class="form-group row">
					<div class="col-sm-2">
						<label>User Name</label>
					</div>

					<div class="col-sm-4">
						<input name='name' class="form-control" type="text" data-ng-model="user.name" ng-required='true'></div>
				</div>
				
				<div class="form-group row">
					<div class="col-sm-2">
						<label>Date of Birth</label>
					</div>
					<div class="col-sm-4">
						<input class="form-control" type="text" ng-required="true" date-picker data-ng-model='user.dob'/>
					</div>
				</div>
				
				<br>
				<div class="form-group row">
					<div class="col-sm-4 col-sm-offset-2">
						<button data-ng-click='save(user)' ng-disabled="userEditForm.$invalid" class="btn btn-default btn-success">Save User</button>
					</div>
				</div>
				
			</div>
		</form>
	</div>

</div>
